<ul class="nav nav-pills calendars-tabs" role="tablist">
    <li class="add-calendar">
        <button type="button" class="btn btn-default btn-xs add-calendar-btn">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </li>
</ul>

<div class="tab-content">

</div>
