<li><a tabindex="-1" class="add-calendar" href="#">Add Calendar</a></li>
<li><a tabindex="-1" class="edit-calendar" href="#">Edit</a></li>
<li class="divider"></li>
<li><a tabindex="-1" class="remove-calendar" href="#">Remove</a></li>
<li class="divider"></li>
<li><a tabindex="-1" class="change-scale" href="#">Change scale</a></li>
