<div class="modal fade" id="remove-modal-{{uuid}}" tabindex="-1" role="dialog" aria-labelledby="remove-modal-{{uuid}}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title .title" id="remove-modal-{{uuid}}-label">
                    Delete event
                </h4>
            </div>
            <div class="modal-body">
                Are you sure to remove {{title}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary remove">Yes</button>
            </div>
        </div>
    </div>
</div>
