<div class="wrapper container">
    <header></header>
    <div class="container ">
        <section id="main"></section>
        <div id="modals-container"></div>
    </div>
    <ul id="context-menu" class="dropdown-menu" role="menu" style="display: none"></ul>
</div>
