<li><a tabindex="-1" class="add" href="#">Add</a></li>
<li class="divider"></li>
<li><a tabindex="-1" class="edit" href="#">Edit</a></li>
<li><a tabindex="-1" class="remove" href="#">Remove</a></li>
<li class="divider"></li>
<li><a tabindex="-1" class="showNext" href="#">Show next days</a></li>
<li><a tabindex="-1" class="showPrev" href="#">Show previous days</a></li>
<li class="divider"></li>
<li><a tabindex="-1" class="change-scale" href="#">Change scale</a></li>
