<li><a tabindex="-1" class="add" href="#">Add</a></li>
<li class="divider"></li>
<li><a tabindex="-1" class="show-next" href="#">Show next days</a></li>
<li><a tabindex="-1" class="show-prev" href="#">Show previous days</a></li>
<li class="divider"></li>
<li><a tabindex="-1" class="change-scale" href="#">Change scale</a></li>
<li class="use24"><label><input type="checkbox" {{{use24}}}/>Use 24 format</label></li>

