<div class="col-md-4">
    <img class="img-circle image" src="{{imgUrl}}" />
</div>
<div class="col-md-8 full-name" style="padding-left: 0; padding-right: 0; font-size: 13px">
    {{firstName}} {{lastName}}
</div>
