<div class="col-md-4">
    <img style="width: 35px;" class="img-circle" src="{{imgUrl}}" />
</div>
<div class="col-md-8" style="padding-left: 0; padding-right: 0; font-size: 13px">
    {{lastName}} {{firstName}}
</div>
