<div class="modal edit-modal fade" id="edit-user-modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="edit-modal-{{id}}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control firstName" value="{{firstName}}" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control lastName" value="{{lastName}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save</button>
            </div>
        </div>
    </div>
</div>
