#users {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border: 1px solid #068e84;
}
#users .select {
  margin: 5px 5px;
}
#users .select .select2-container {
  width: 100% !important;
}
#users .select .select2-selection__choice {
  border: 0;
  background-color: #65D0C8;
  overflow: hidden;
  width: 68px;
  text-overflow: ellipsis;
  font-size: 13px;
}
#users .select .select2-selection {
  background-color: #4e5d6c;
  border: 0;
  min-height: 40px;
}
#users .select input {
  color: #FFFFFF;
  width: 100% !important;
}
#users .list {
  padding-right: 0;
  min-height: 360px;
  padding-bottom: 5px;
}
#users .list .user {
  height: 35px;
  margin-top: 5px;
  background-color: #3fb8af;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #22a198;
  margin-left: 5px;
  margin-right: 5px;
}
.select2-users,
.select2-event-users {
  background-color: #4e5d6c !important;
  border: 0 !important;
}
.select2-users .select2-results__option[aria-selected=true],
.select2-event-users .select2-results__option[aria-selected=true] {
  background-color: #99E6E0 !important;
  color: #000 !important;
}
.select2-users ::-webkit-scrollbar,
.select2-event-users ::-webkit-scrollbar {
  width: 5px;
}
.select2-users ::-webkit-scrollbar-thumb,
.select2-event-users ::-webkit-scrollbar-thumb {
  background-color: #22A198;
}
.edit-modal .user .select2-container {
  width: 100% !important;
}
.edit-modal .user .select2-selection__choice {
  border: 0;
  background-color: #65D0C8;
  overflow: hidden;
  width: 68px;
  text-overflow: ellipsis;
  font-size: 13px;
}
.edit-modal .user .select2-selection {
  border: 0;
  min-height: 40px;
}
.edit-modal .user input {
  color: #FFFFFF;
  width: 100% !important;
}
.draggable-user {
  width: 178px;
  opacity: 0.6;
  background-color: #99E6E0;
  border: 1px solid #65D0C8;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}
#calendars-container {
  padding-right: 0;
}
.timeline-container {
  overflow: hidden;
  min-height: 360px;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border: 1px solid #df691a;
}
.hovered-group {
  background-color: #7394d6;
  opacity: 0.3;
}
.noUi-connect {
  background: #3fb8af;
}
.calendar-tab-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.add-calendar-btn {
  margin-top: 8px;
  margin-left: 5px;
}
.add-calendar-btn {
  margin-top: 8px;
  margin-left: 5px;
}
.calendar-title-edit {
  margin-bottom: 0;
}
.tab-item {
  width: 170px;
}
.vis-timeline {
  border: none;
}
.vis-timeline .vis-time-axis .vis-text {
  color: #ffffff;
}
.vis-timeline .vis-group {
  min-height: 47px;
}
.vis-timeline .vis-time-axis .vis-grid.vis-minor {
  border-color: #df691a;
}
.vis-timeline .vis-panel.vis-bottom,
.vis-timeline .vis-panel.vis-center,
.vis-timeline .vis-panel.vis-left,
.vis-timeline .vis-panel.vis-right,
.vis-timeline .vis-panel.vis-top {
  border-color: #df691a;
}
.vis-timeline .vis-panel.vis-center {
  z-index: 1000;
}
.vis-timeline .vis-labelset .vis-label {
  color: #ffffff;
  border-bottom: 1px solid #df691a;
  min-height: 47px;
}
.vis-timeline .vis-foreground .vis-group {
  border-bottom: 1px solid #df691a;
}
.vis-timeline .vis-item {
  font-size: 14px;
  color: #ffffff;
  border-color: #97b0f8;
  background-color: #7394d6;
}
.vis-timeline .vis-item.vis-selected {
  color: #15429a;
  border-color: #ffb836;
  background-color: #ffb836;
}
.modal-dialog {
  margin: 85px auto !important;
}
.popover {
  max-width: 100% !important;
}
.timeline-scale-range-container {
  display: none;
  border: 1px solid #df691a;
  border-bottom: none;
  padding: 40px 0 10px 85px;
}
.timeline-scale-range-container .timeline-scale-range .slider {
  margin: auto 10px;
}
.timeline-scale-range-container .timeline-scale-range .slider .range-tooltip {
  opacity: 1;
  display: block;
  position: absolute;
  top: -32px;
  padding: 5px;
  left: -41px;
  text-align: center;
  width: 90px;
}
.noUi-horizontal {
  height: 10px !important;
}
.noUi-handle {
  width: 10px !important;
  height: 20px !important;
  left: 0 !important;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none;
}
#context-menu .use24 {
  padding: 3px 20px;
}
#context-menu .use24 label {
  width: 100%;
}
#context-menu .use24 label input {
  float: right;
}
