@border-color: #df691a;
@slider-color: #3FB8AF;
@timeline-text: #fff;
@item-font-color: @timeline-text;
@item-border-color: #97B0F8;
@item-background-color: #7394D6;
@selected-item-font-color: #15429A;
@selected-item-border-color: #FFB836;
@selected-item-background-color: #FFD27C;

div.vispanel.center{
    z-index: 1000;
}
#user-container{
    padding-right: 0;
}
.timeline-container{
    overflow: hidden;
    min-height: 360px;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 1px solid @border-color;
}
.noUi-connect {
    background: @slider-color;
}
.calendar-tab-item{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.add-calendar-btn{
    margin-top: 8px;
    margin-left: 5px;
}
.add-calendar-btn{
    margin-top: 8px;
    margin-left: 5px;
}
.calendar-title-edit{
    margin-bottom: 0;
}
.tab-item{
    width: 170px;
}
.vis.timeline {

    .timeaxis {
        .text {
            color: @timeline-text;
        }
    }
    &.root {
//        border: 1px solid @border-color;
        border: none;
    }
    .group{
        min-height: 47px;
    }
    .timeaxis .grid.minor {
        border-color: @border-color;
    }
    .vispanel{
        &.bottom, &.center, &.left, &.right, &.top{
            border-color: @border-color;
        }
        &.center{
            z-index: 1000;
        }
    }
    .labelset{
        .vlabel {
            color: @timeline-text;
            border-bottom: 1px solid @border-color;
        }
    }
    .foreground{
        .group {
            border-bottom: 1px solid @border-color;
        }
    }
    .item {
        font-size: 14px;
        color: @item-font-color;
        border-color: @item-border-color;
        background-color: @item-background-color;
        &.selected {
            color: @selected-item-font-color;
            border-color: @selected-item-border-color;
            background-color: @selected-item-border-color;
        }
    }

}

.modal-dialog {
    margin: 85px auto !important;
}
.popover{
    max-width: 100% !important;
}
.timeline-scale-range-container{
    display: none;
    border: 1px solid @border-color;
    border-bottom: none;
    padding: 40px 0 10px 85px;

    .timeline-scale-range .slider{
        margin: auto 10px;
        .range-tooltip {
            opacity: 1;
            display: block;
            position: absolute;
            top: -32px;
            padding: 5px;
            left: -41px;
            text-align: center;
            width: 90px;
        }
    }
}
.noUi-horizontal {
    height: 10px !important;
}
.noUi-handle {
    width: 10px !important;
    height: 20px !important;
    left: 0 !important;
}
.noUi-handle:after, .noUi-handle:before{
    display: none;
}

